<%- include ("../partials/header")%>

<form action="/account/addMember" method="post">
    <input type="text" name="accountId" value="<%= account._id%>" hidden>
    <label for="memberemail">Enter Member email:</label>
    <input type="email" name="email" required>
    <input type="submit" value="submit" name="submit" >
</form>

<script>
    if("<%= msg %>" == "user not found") {
        showAlert("<%= msg %>");
    } 

    if("<%= msg %>" == "User already exist in this account!") {
        showAlert("<%= msg %>");
    } 

    function showAlert(msg) {
        alert(msg);
    }; 
</script>
<%- include ("../partials/footer")%>